# Terraform temp files #
########################
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.exe
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/modules/cloudflare/secret.tfvars
terraform/secret.tfvars
terraform/secret.tfautovars
*.tfvars