- hosts: "*"
  gather_facts: no
  tasks:
    - name: Waiting for connection to remote host
      ansible.builtin.wait_for_connection:
        delay: 10
        timeout: 300
    - name: Apt update
      become: yes
      shell: apt update
    - name: Installing nginx
      become: yes
      apt: name=nginx state=latest
    - name: Starting nginx
      become: yes
      service:
          name: nginx
          state: started
    - name: Copying the config file and restarting nginx
      become: yes
      copy:
        src: /home/jenkins/project/jenkins-cicd/terraform/app.conf  # Linux Host
        #src: /mnt/c/users/soubi/project/terraform/app.conf  Windows Host
        dest: /etc/nginx/sites-available/app.conf
    - name: Unlinking default config file
      become: yes
      shell: unlink /etc/nginx/sites-enabled/default
    - name: Creating symlink
      become: yes
      file:
        src: /etc/nginx/sites-available/app.conf
        dest: /etc/nginx/sites-enabled/default
        state: link
    - name: Restarting service
      become: yes
      service:
          name: nginx
          state: restarted
    - name: Installing dependencies
      become: yes
      apt:
        pkg:
          - apt-transport-https
          - ca-certificates
          - curl
          - software-properties-common
          - python3-pip
          - python3-setuptools
        state: latest
        update_cache: true
    - name: Adding Docker GPG apt Key
      become: yes
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present
    - name: Adding Docker repository
      become: yes
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu focal stable
        state: present
    - name: Installing Docker & its components
      become: yes
      apt:
        pkg: 
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: latest
        update_cache: true
    - name: Adding user to Docker group
      become_user: ubuntu
      become: yes
      shell: usermod -aG docker $USER